<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724826722708-lmafsbs8lkdba5kjff07rupn092d1odf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724826722708-lmafsbs8lkdba5kjff07rupn092d1odf</string>
	<key>API_KEY</key>
	<string>AIzaSyDp7ZiemU5anord1Xpf4aPgksjGw5fn1_8</string>
	<key>GCM_SENDER_ID</key>
	<string>724826722708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thwong.lanternSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>lantern-app-31b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>lantern-app-31b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724826722708:ios:282bdb0c1496a4915abf81</string>
	<key>DATABASE_URL</key>
	<string>https://lantern-app-31b4d-default-rtdb.firebaseio.com</string>
</dict>
</plist>